//
// COLORS
// ----------------------------------------------

$color-bg-body: hsl(233, 47%, 7%);
$color-bg-main: hsl(244, 38%, 16%);
$color-text-mh: hsl(0, 0%, 100%);
$color-text-strong: hsl(277, 64%, 61%);
$color-text-darken: hsla(0, 0%, 100%, 0.6);

//
// FONT
// ----------------------------------------------

$font-family: 'Inter', sans-serif;